<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>com.ufpor.app.app appService</servlet-name>
        <servlet-class>com.ufpor.app.server.AppServiceImpl</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>com.ufpor.app.app LoginService</servlet-name>
        <servlet-class>com.ufpor.app.server.LoginServiceImpl</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>com.ufpor.app.app EnvironmentService</servlet-name>
        <servlet-class>com.ufpor.app.server.EnvironmentServiceImpl</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>com.ufpor.app.app appService</servlet-name>
        <url-pattern>/app/appService</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>com.ufpor.app.app LoginService</servlet-name>
        <url-pattern>/app/LoginService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.ufpor.app.app EnvironmentService</servlet-name>
        <url-pattern>/app/EnvironmentService</url-pattern>
    </servlet-mapping>
</web-app>