/** Add css rules here for your application. */



td.reqCell {
    padding: 1%;
}

/** Example rules used by the template application (remove for your app) */
h1 {
    font-size: 2em;
    font-weight: bold;
    color: #777777;
    text-align: center;
}

hr {
    width: 100%;
    height: 8px;
    background: #949494;
    display: block;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: auto;
    -webkit-margin-end: auto;
    border-style: inset;
    border-width: 0px;
}


.sendButton {
    display: block;
    font-size: 16pt;
}


button.header {
    background-color: #FFC;
    float: left;
    height: 400px;
    width: 90%;
}

/** Most GWT widgets already have a style name defined */
.gwt-DialogBox {
    width: 400px;
}

.dialogVPanel {
    margin: 5px;
}

.serverResponseLabelError {
    color: red;
}

/** Set ids using widget.getElement().setId("idOfElement") */
#closeButton {
    margin: 15px 6px 6px;
}


body, td, div, .p {
    font-family: 'Questrial', sans-serif;
}

a, a:visited {
    font-family: 'Questrial', sans-serif;
    background-color: #D56031;
}

.gwt-MenuBar-horizontal {
    background: none;
    border: none;
}

.gwt-TextBox {
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-top: 1px solid #999;
    font-size: small;
    font-family: Arial Unicode MS, Arial, sans-serif;
}

.gwt-SplitLayoutPanel-VDragger {
    background: #949494 url(images/thumb_horz.png) center center no-repeat;
    cursor: row-resize;
}

.gwt-SplitLayoutPanel-HDragger {
    background: #949494 url(images/thumb_vertical.png) center center no-repeat;
    cursor: col-resize;
}

.gwt-TabPanelBottom {
    border-color: #ccc;
    border-style: solid;
    border-width: 0px 1px 1px;
    overflow: hidden;
    padding: 6px 0px;
}

